<div >
  <div class="fixed  top-0 left-0 w-full bg-white shadow-md z-10 ">
  <div class="flex items-center justify-between gap-2 "> 
    <div class="h-[120px] w-[100vw] rounded-t-lg flex justify-around items-center font-serif" style="background: linear-gradient(to right, #1e3a8a 15%, #FF00FF 85%);">
      <!-- Ваш контент здесь -->

    
      <div class="text-3xl text-white font-bold xs:text-2xl"><h1 >SWEATERPI</h1></div>
      <a href="https://www.sweaterpi.com/#/home" class="bg-white hover:bg-red-500 text-gray-500 hover:text-gray-600 font-bold py-2 px-4 rounded-full xs:text-sm xs:py-1 xs:px-2">
        <p class="border-b-2 border-gray-400 xs:text-sm">Перейти на сайт</p>
      </a>
        
    </div>
 
  </div>
    <div *ngIf="!selectProduct" class="flex justify-center  bg-blue-800  border-b-[2px] border-white pb-[3px]" style="background: linear-gradient(to right, #1e3a8a 15%, #FF00FF 85%);">
        <input class="border-solid border-black border rounded-full px-4 py-2" [formControl]="searchControl" placeholder="поиск">
    </div>
    <div *ngIf="!selectProduct" class="overflow-x-scroll snap-x bg-blue-800 border-b-[2px] border-white pb-[3px]  " style="background: linear-gradient(to right, #1e3a8a 15%, #FF00FF 85%); ">
      <div class="flex space-x-4 p-1">
        <button *ngFor="let item  of itemTypeList;let i=index" class="px-3 py-1 h-[50px] focus:bg-slate-600 bg-white rounded-lg whitespace-nowrap "
        (click)="handlItemClick(item.name,i)"
        [ngClass]="{'blink-animation': isBlinkingIndex === i}">
          {{item.name}}
        </button>
     </div>
    </div>
  </div>
    <div *ngIf="!selectProduct" class="mt-[235px]">
      <div class="flex justify-center flex-wrap gap-1   text-white " *ngIf="loading"  (scroll)="onScroll($event)">
        <app-product *ngFor="let product of productList" [product]="product"  [product]="product" (productOutput)="receiveProductFromChild($event)"></app-product>
        <p *ngIf="productList.length === 0">Нет товаров</p>
      </div>
      <div class="flex justify-center flex-wrap gap-1" >
        <p *ngIf="!loading">Загрузка...</p>
      </div>
    </div>
    <div class="flex justify-center mt-[125px] ">
    <app-product-detail  *ngIf="selectProduct" [product]="selectedProduct" (detailOutput)="receiveProductFromChild1($event)"></app-product-detail>
  </div>
</div>
